.homepage {
    height: 500px;
    background-image: url('../../pug.jpg');
    background-position: 50% 0%;
    background-size: cover;
    background-color: #FCFCFC;
    color: black; 
    display: block;
    position: relative;
    height: 767px;
    opacity: 0.8;
}

.header {
    padding-top: 5rem;
    text-align: center;
}

.carousel {
    background-color: #D6A779;
}

.services {
    height: 20rem;
}