.App {
    background-color: #FCFCFC;
    min-height: 100%;
    position: relative;
    padding-bottom: 6rem;
    font-family: 'Poppins', sans-serif;
} 

.mainComponent {
    margin: 0 auto;
    padding-top: 0; 
    /* max-width: 640px; */
    /* width: 94%; */
    padding-bottom: 20rem;
    border-top: 1px solid #000;    
}

.nav-link {
    color: black;
} 

/* .App {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}


.mainComponent {
    /* flex-grow: 1; */
    
/* 
.footer, .mainComponent {
    flex-shrink: 0 !important;
} */